body
{
	margin: 40px auto; width: 70%;
	padding: 0px;
	background-color: #f2f2f2;
	font-family: helvetica;
}
a
{
	text-decoration: none;
	color: #002299;
}
a:hover
{
	font-weight: bold;
}
header a
{
	text-decoration: none;
	color: black;
}
header a:hover
{
	text-decoration: none;
	color: #002299;
}
#top
{
	background: #002299;
	position: fixed;
	height: 5px;
	left: 0; right: 0;
	top: 0;
}
