body
{
	margin: 40px auto; width: 70%;
	padding: 0;
	background-color: #f2f2f2;
	font-family: helvetica;
	font-size: 11pt;
}
p
{
	color: black;
}
a
{
	text-decoration: none;
	color: #002299;
}
a:hover
{
	text-decoration: underline;
}
header a
{
	text-decoration: none;
	color: black;
}
header a:hover
{
	text-decoration: none;
	color: #002299;
}
#top
{
	background: #002299;
	position: fixed;
	height: 5px;
	left: 0; right: 0;
	top: 0;
}
h1
{
	float: left;
	font-size: 45px;
	margin: 0;
}
nav
{
	float: right;
	font-size: 16pt;
	font-weight: bold;
}
nav ul
{
	list-style: none;
}
nav ul li
{
	display: inline;
	padding: 0 10px 0 10px;
}
nav ul li a
{
	color: #002299;
}
nav ul li a:hover, nav ul li a.current
{
	color: black;
}
footer
{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background: #002299;
}
footer p
{
	margin: 15px;
	color: #f2f2f2;
	text-align: center;
	font-size: 8pt;
	
}
