body
{
    margin: 40px auto; width: 700px;
    padding: 35px;
    line-height: 1.4;
    /*background-color: #f2f2f2;*/
    /*font-family: helvetica;*/
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 12pt;
}
a
{
    text-decoration: none;
    color: #0066cc;
    transition: 0.35s ease-in-out;

}
a:hover
{
    text-decoration: underline;
}
header a
{
    text-decoration: none;
    color: black;
    transition: 0.40s ease-in-out;
}
header a:hover
{
    text-decoration: none;
    color: #0066cc;
}
#top
{
    background: #0066cc;
    position: fixed;
    height: 5px;
    left: 0; right: 0;
    top: 0;
}
header p
{
    position: absolute;
    font-size: 45px;
    top: 27px;
}
nav
{
    float: right;
    font-size: 16pt;
}
nav ul
{
    list-style: none;
}
nav ul li
{
    display: inline-block;
    padding: 0 10px 0 10px;
}
nav ul li a:hover, nav ul li a.current
{
    color: #0066cc;
}
hr
{
    position: absolute;
    top: 135px;
    width: 700px;
}
br.clearfix
{
    clear: both;
}
p
{
    line-height: 150%;
    font-size: 12pt;
}
img.portrait
{
    float: right;
    margin: 20px 0 0 20px;
    width: 250px; 
    height: 325px;
}
section.contact ul
{
    list-style: none;
    line-height: 150%;
    font-size: 12pt;
}
.content
{
    font-family: Times;
}
footer
{
    clear: both;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background: #0066cc;
}
footer p
{
    margin: 10px;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 10pt;
    
}
